services:
  api:
    depends_on:
      db:
        condition: service_healthy
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: "postgresql+psycopg://admin_madr:pwd_madr_db123@db:5432/madr_db"

    ports:
      - "8002:8000"
    healthcheck:
      test: [ "CMD-SHELL", "python -c 'import socket;s=socket.socket();s.connect((\"localhost\",8000));s.close()'" ]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 15s

  front:
    depends_on:
      api:
        condition: service_healthy
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3002:3000"

    environment:
      NEXT_PUBLIC_API_URL: http://api:8000

  db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    env_file:
      - ./backend/.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin_madr -d madr_db" ]
      interval: 5s
      retries: 5
    ports:
      - "5430:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
