services:
  db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: madr_db
      POSTGRES_USER: admin_madr
      POSTGRES_PASSWORD: pwd_madr_db123
    ports:
      - "5430:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
