.header {
  align-self: stretch;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--cor-principal);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 20px;
  color: #fff;
}
.madrWrapper {
  display: flex;
  align-items: flex-start;
  font-family: "Calisto MT";
}
.madr {
  position: relative;
}
.divMenuChild {
  color: #fff;
}
.divInputSearch {
  width: 604px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding-right: 16px;
}
.pesquisar {
  position: relative;
  padding: 8px 16px;
  border: 0;
  align-self: stretch;
  flex-grow: 1;
  outline: none;
}
.lupaPreto1Icon {
  height: 20px;
  width: 21px;
  position: relative;
}
.divMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
}
.cadastreSe {
  position: relative;
  cursor: pointer;
}

/* Footer */
.footer {
  width: 100%;
  position: relative;
  background-color: #b51d1d;
  border: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 24px;
  gap: 64px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
.divLogoFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.divLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.madrLogoSite1Icon {
  width: 112px;
  height: 54px;
  position: relative;
}
.meuArquivoDigital {
  position: relative;
}
.divRedeSocial {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
}
.facebookSemFundo1Icon {
  width: 46px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.instagramSemFundo1Icon {
  width: 47px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}

/* Modais */
.div_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: brightness(80%);
  z-index: 10;
  overflow-y: scroll;
}
