@import url("https://fonts.cdnfonts.com/css/Calistoga");
@import url("https://fonts.cdnfonts.com/css/Inter");
@import url("https://fonts.cdnfonts.com/css/Roboto");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-principal: #b51d1d;
  --fonte-madr: "Calistoga";
  --fonte-texto: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3,
p,
span {
  color: var(--cor-principal);
  font-family: var(--fonte-texto);
}

img {
  width: auto;
  height: auto;
}

input[type="search"] {
  letter-spacing: 1px;
}

input[type="search"]::placeholder {
  color: #9c9c9c;
}

.h3-white {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p-white,
.span-white {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
